<div class="card">
    <div class="card-body">
        <h1>App de Notas</h1>
        <p>hola soy desarrollador web fullstack y esta es mi primer app completa usando NodeJs como servidor, mongoDb para la base de datos y el complemento de HTML,CSS y JS</p>
        <blockquote>OJO: para usar esta aplicacion de notas tienes que registrarte</blockquote>
    </div>
</div>