
<section class="jumbotron mt-4">
    <h1 class="display-4"> APP DE NOTAS </h1>
    <p class="lead">aplicacion creada para practicas</p>
    <hr class="my-4">
    <p>
        aplicacion de notas centrada en facilitarme el uso de mi tiempo, creada con el fin de aprender sobre desarrollo web asincrono, la authenticacion y el backend en general.
    </p>
    <a href="http://google.com" class="btn-primary btn-lg">Google</a>
</section>